@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

/* *{
    cursor: url("../img/logo/cursor.png"), default;
} */

body{
    background: #fff;
    font-family: "Montserrat", sans-serif;
}
  
.container{
    width: 1160px;
    margin: 0 auto;
}

.header{
    text-align: center;
    background-image: url("../img/background/section-1\(header\).jpg");
    background-attachment: fixed;
}

.logo{
    padding-top: 28px;
    padding-bottom: 27px;
    height: 100%;
    display: flex;
    width: max-content;
}


.header-logo-img{
    display: inline-block;
    width: 58px;
    height: 67px;
    background-image: url("../img/logo/logo.png");
    background-repeat: no-repeat;
}

.the_H{
    padding-top: 13px;
    display: block;
    font-weight: bold;
    font-size: 40px;
    color: #FFFFFF;
}

.header-logo-text{
    font-size: 32px;
    line-height: 48px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 6px;
}

.light-text{
    font-weight: bold;
    color: #18CFAB;
}

.header-nav{
    background: rgba(94, 93, 88, 0.6);

    
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1160px;
    height: 100%;
    margin: 0 auto;

}

.header-nav-menu a{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 21px;
    padding-bottom: 48px;
}

.header-nav-menu a:nth-last-child(n+2):hover{
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

.header-nav-icon-search{
    height: 20px;
    width: 21px;
}

.subscribe-menu{
    color: white;
    text-transform: uppercase;
 }

.subscribe-menu p:first-child {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 22px;
    margin-top: 264px;
}

.light-title-text{
    color: #18CFAB;
}

.subscribe-menu p:nth-child(2) {
    font-size: 78px;
    font-weight: bold;
    margin-bottom: 22px;
}

.subscribe-menu p:nth-child(3) {
    font-size: 34px;
    color: rgba(212, 212, 212, 0.6);
    margin-bottom: 129px;
}

.btn{
    font-size: 15px;
    font-weight: bold;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    border-top: 3px solid white;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 169px;
    cursor: pointer;

}

.btn-header-section{
    margin-bottom: 243px;
}

.explore-btn{
    background-color: #18CFAB;
    margin-right: 26px;
}

.purchase-btn{
    background-color: #00CBF6;
}
                            /* 4 block*/
.color-block {
    justify-content: space-around;
    height: 377px;
    display: flex;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

}
.block-black {
    border-top: 8px solid  #fff;
    width: 25vw;
    background-color: #1c2a33;
    color: #18cfab;
}

.block-green {
    border-top: 8px solid  white;
    width: 25vw;
    background-color: #18cfab;
    color: white;
}

.color-block span {
    margin: 95px auto 48px auto;
    display: block;
    background-repeat: no-repeat;
    width: 100px;
    height: 97px;
}
                           
                             /* Our Services */

.our-title{
    font-weight: 400 ;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
    padding-top: 83px;
    padding-bottom: 24px;
    position: relative;
}
.our-title::after{
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 47%;
    width: 76px;
    height: 2px;
    background-color: #18cfab;
    box-shadow: 13px 4px 0 0  #18cfab;
    
}

.services-tabs{
    margin-top: 69px;
    margin-bottom: 27px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-left: 0;
}

  
.services-item{
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 23px;
}

.tabs-item{
    display: grid;
    background-color: #f8fcfe;
    border: 1px solid #edefef;
    font-size: 15.9859px;
    line-height: 39px;
    color: #717171;
    justify-content: center;
}

.tabs-item.active{
    position: relative;
    background: #18cfab;
    color: white;
}
  
.tabs-item.active::after{
    content: "";
    border: 10px solid transparent;
    border-top: 10px solid #18cfab;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: -20px;
}
  
.tabs-item:hover{
    border: 1px solid #18cfab;
}

.services-tabs-content{
    padding-bottom: 91px;
}

.tabs-content-item{
    display: none;
    font-weight: 300;
    font-size: 14px;
    padding-top: 7px;
    color: #777777;
}

.tabs-content-item.active{
    display: flex;
}

.tabs-img{
   padding-right: 15px;
}

                                               /* Everything is ready. just buy and install now */
.section-every{
    width: 100%;
    height: 476px;
    background-image: url("../img/background/section-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}                   

.title-section-every{
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 127px;
}

.text-section-every{
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;
    padding-bottom: 62px;
}

.btn-every-section{
    margin-bottom: 127px;
}

                                      /* Our Amazing Work */

.services-flex{
    display: flex;

}
.Amazing-work-tabs{
    padding: 14px 20px;
    display: flex;
    align-items: center;
    margin: 69px auto 71px auto;
}

.item-amazing-work{
    padding: 14px 20px;
}

.activeTab{
    border: 1px solid #18CFAB;
}

.item-amazing-work:first-child{
    padding: 14px 28px;
}

.Our-Amazing-Work{
    background: #E9EDEF;
}

/* all */

.img-all{
    display: flex;
    flex-wrap: wrap;
}
  
.work-img{
    position: relative;
    width: 285px;
    height: 206px;
    display: none;
}
.work-img.active{
    display: block;
}
.img-hover{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #e9edef;
    width: 100%;
    height: 100%;
    border-top: 3px solid #18cfab;
}
  
.img-hover-logo{
    display: flex;
}
  
.work-img:hover .img-hover{
    display: flex;
}
  
.img-hover-logo-creative{
    position: relative;
    margin: 0 1.5px;
}
  
.img-hover-logo1{
    position: absolute;
    top: 13.5px;
    left: 14.5px;
}
  
.img-hover-logo-creative:hover .img-hover-logo2{
    fill: white;
}
  
.img-hover-logo3 {
    position: absolute;
    top: 15.5px;
    left: 15.5px;
}
  
.img-hover-logo-creative:hover .img-hover-logo4{
    fill: white;
}
  
.img-hover-logo-creative:hover .logo-creative-cyrcle{
    fill: #18cfab;
}

  
.text-section-work{
    font-size: 12px;
    line-height: 25px;
    color: #8a8a8a;
    text-align: center;
}
  
.btn-load-more{
    margin: 70px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 168px;
    height: 63px;
    border-radius: 5px;
    border: none;
    background: #18CFAB;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    color: #FFFFFF;
    cursor: pointer;
}

/* breaking news */

.news-grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr) ;
    grid-column-gap: 35px;
    grid-row-gap: 44px;
    margin-top: 68px;
    margin-bottom: 129px;
}

.news-photo-title{
    font-weight: bold;
    font-size: 17.9885px;
    line-height: 39px;
    color: #717171;
    padding-left: 25px;
}

.news-photo-text{
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
    padding-left: 25px;
}

.news-item{
    position: relative;
}

.date-block{
    position: absolute;
    top: 0px;
    left: 193px;
    background-color: #203E38;
    width: 70px;
    height: 68px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 6px;
    color: #FFFFFF;
    opacity: 1;
}

.news-item:hover .date-block{
    background-color: #18CFAb;
    opacity: 1;
}
.news-item:hover .news-photo-title{
    color: #18CFAb ;
}

/* What People Say About theHam */

.what-people-say{
    background-image: url('../img/background/section-3.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what-people-say-title{
    padding-top: 98px;
    padding-bottom: 29px;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    position: relative;
}

.what-people-say-text{
    padding-top: 36px;
    padding-bottom: 37px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}

.what-people-say-title::after{
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 47%;
    width: 76px;
    height: 2px;
    background-color: #18cfab;
    box-shadow: 13px 4px 0 0  #18cfab;

}

.what-people-say-img{
    margin-top: 70px;
    margin-bottom: 36px;
}

.content-item{
    list-style-type: none;
    display: none;
    justify-items: center;
    position: relative;
}

.content-item.active-people{
    display: grid;
}

.animation {
    display: none;
}

@keyframes about-animation {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.animation.active-people{
    animation: about-animation;
    animation-duration: 2s;
}

.what-people-say-ellipse{
    background-image: url("../img/whatPeopleSay/Ellipse\ 2.png");
    width: 164px;
    height: 164px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellipse-small{
    margin-top: 57px;
    background-image: url("../img/whatPeopleSay/Ellipse\ small.png");
    width: 69px;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.what-people-say-text{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #bbbbbb;
    text-align: center;
    padding-top: 36px;
}

.what-people-say-name{
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #18cfab;
    margin-top: 37px;
}

.what-people-say-work{
    font-weight: 300;
    font-size: 12px;
    color: #bbbbbb;
    padding: 5px 0 38px 0;
}

.what-people-say-tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 100px 0;
    position: relative;
}

.tabs-item-people{
    list-style-type: none;
    padding: 0 30px 0 30px;
}

.tabs-item-people:hover,
.tabs-item-people.active-people {
    transform: translateY(-20px);
    transition: 0.5s;
}

#back,
#next {
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #bbbbbb;
}

#back:hover,
#next:hover {
    background-color: #18cfab;
}

/* footer */

.footer-text{
    word-spacing: 3px;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    background-color: #22353F ;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 48px;
    margin-top: 129px;
}